
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:10px">
    <!-- Page Content -->
    <div class="row">
        <div class="breadcrumb" style="margin-bottom: 20px;">
            <span itemscope="itemscope" class="crumb_item">
                <a itemprop="url" rel="up" class="crumb" href="index.html"><span itemprop="title">Trang chủ</span></a>
                <span class="arrow"> » </span>
            </span>
            <span itemscope="itemscope" class="crumb_item">
                <a itemprop="url" rel="up" class="crumb" href="lienhe.html"><span itemprop="title">Liên hệ</span></a>
                
            </span>
        </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <!-- Blog Post Content Column -->
                <div class="col-lg-6">
                    
                        <i class="fa fa-mobile fa-lg" aria-hidden="true" ></i><h2 style="color:#0000FF;"> Trung tâm điện thoại MaxMobile</h2><br>
                        <h3><p><i class="fa fa-server" aria-hidden="true"></i> Tổng đài Dịch vụ: <span style="color:red;">1900.68.58</span></p></h3><br>
                        <h4><p><i class="fa fa-map-marker" aria-hidden="true"></i> Maxmobile TP Hà Nội 1</p></h4><br>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Số 12, Xuân Thủy, Cầu Giấy</p><br>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Kinh Doanh: 0968.023.023 - 0466.725.999</p><br>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Kỹ THuật: 0985.023.023</p><br>
                        <h4><p><i class="fa fa-map-marker" aria-hidden="true"></i> Maxmobile TP Hà Nội 2</p></h4><br>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Số 63A, Phố Vọng, Hai Bà Trưng</p><br>
                        <p> <i class="fa fa-phone" aria-hidden="true"></i> Kinh Doanh: 0968.655.655 - 0961.86.66.86</p><br>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Kỹ THuật: 0969.655.655</p><br>
                </div>
                <div class="col-lg-6 google-maps">
                    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.914520440814!2d105.7797833143869!3d21.03610598599435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b54c97ce85%3A0xf29443e13fc6848a!2zMTIgWHXDom4gVGjhu6d5LCBE4buLY2ggVuG7jW5nIEjhuq11LCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1488125371992" width="560" height="577" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <style>
            .google-maps {
                position: relative;
                padding-bottom: 75%;
                // This is the aspect ratio height: 0;
                overflow: hidden;
            }

                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90% !important;
                    height: 50% !important;
                }
        </style>



