
<!-- JqGrid -->
<script>
    var urlDanhsachgiaodich = '@Url.Action("DanhsachgiaodichTable", "Home")';
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Areas/Admin/Scripts/Home/Danhsachgiaodich.js"></script>
<div class="widget-title">
    <span class="icon"> <i class="icon-th"></i> </span>
    <h5>Đơn hàng gần nhất</h5>
</div>
<div id="dsgd-table">

</div>
