<div class="span3">
    <ul class="site-stats">
        <li class="bg_lh"><i class="icon-user"></i> <strong>@ViewBag.Tongtaikhoan</strong> <small>Tổng tài khoản</small></li>
        <li class="bg_lh"><i class="icon-shopping-cart"></i> <strong>@ViewBag.Dathangtrongngay</strong> <small>Đặt hàng trong ngày</small></li>
        <li class="bg_lh"><i class="icon-tag"></i> <strong>@ViewBag.Tongdondathang</strong> <small>Tổng đơn đặt hàng</small></li>
        <li class="bg_lh"><i class="icon-repeat"></i> <strong>@ViewBag.Hoadoncho</strong> <small>Số hóa đơn chờ</small></li>

    </ul>
</div>