<div class="oneTwo">
    <div class="widget">
        <div class="title">
            <img src="~/Areas/Admin/Content/images/icons/dark/money.png" class="titleIcon" />
            <h6>Doanh số</h6>
        </div>

        <table cellpadding="0" cellspacing="0" width="100%" class="sTable myTable">
            <tbody>

                <tr>
                    <td class="fontB blue f13">Tổng doanh số</td>
                    <td class="textR webStatsLink red" style="width:120px;">44,000,000 đ</td>
                </tr>

                <tr>
                    <td class="fontB blue f13">Doanh số hôm nay</td>
                    <td class="textR webStatsLink red" style="width:120px;">0 đ</td>
                </tr>

                <tr>
                    <td class="fontB blue f13">Doanh số theo tháng</td>
                    <td class="textR webStatsLink red" style="width:120px;">
                        0 đ
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
