<div class="oneTwo">
    <div class="widget">
        <div class="title">
            <img src="~/Areas/Admin/Content/images/icons/dark/users.png" class="titleIcon" />
            <h6>Thống kê dữ liệu</h6>
        </div>

        <table cellpadding="0" cellspacing="0" width="100%" class="sTable myTable">
            <tbody>

                <tr>
                    <td>
                        <div class="left">Tổng số gia dịch</div>
                        <div class="right f11"><a href="admin/tran.html">Chi tiết</a></div>
                    </td>

                    <td class="textC webStatsLink">
                        15
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="left">Tổng số sản phẩm</div>
                        <div class="right f11"><a href="admin/product.html">Chi tiết</a></div>
                    </td>

                    <td class="textC webStatsLink">
                        8
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="left">Tổng số bài viết</div>
                        <div class="right f11"><a href="admin/news.html">Chi tiết</a></div>
                    </td>

                    <td class="textC webStatsLink">
                        4
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="left">Tổng số thành viên</div>
                        <div class="right f11"><a href="admin/user.html">Chi tiết</a></div>
                    </td>

                    <td class="textC webStatsLink">
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">Tổng số liên hệ</div>
                        <div class="right f11"><a href="admin/contact.html">Chi tiết</a></div>
                    </td>

                    <td class="textC webStatsLink">
                        0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
