<div class="span3">
    <ul class="site-stats">
        <li class="bg_lh"><i class="icon-user"></i> <strong>2540</strong> <small>Tổng tài khoản</small></li>
        <li class="bg_lh"><i class="icon-plus"></i> <strong>120</strong> <small>Tài khoản mới</small></li>
        <li class="bg_lh"><i class="icon-shopping-cart"></i> <strong>656</strong> <small>Đặt hàng trong ngày</small></li>
        <li class="bg_lh"><i class="icon-tag"></i> <strong>9540</strong> <small>Tổng số đơn đặt hàng</small></li>
        <li class="bg_lh"><i class="icon-repeat"></i> <strong>10</strong> <small>Số hóa đơn chờ</small></li>

    </ul>
</div>