@model List<WebDienThoaiDiDong.Models.CartItem>
@{
    Layout = null;
}
<a id="giohang" href="/GioHang"><img class="icongiohang" src="~/Content/HinhAnh/icongiohang.png"></br><p class="textmenu">GIỎ HÀNG(@Model.Count)</p></a>