@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/Content/DangNhap.css" rel="stylesheet" />
    <title>Đăng nhập</title>
</head>
<body>
    <div class="logo"></div>
    <div class="login-block">
        <h1>Đăng Nhập</h1>
        <input type="text" value="" placeholder="Tên đăng nhập" id="username" />
        <input type="password" value="" placeholder="Mật khẩu" id="password" />
        <button>Đăng nhập</button>
    </div>
</body>
</html>
