
.form_title{
height: 1.7em;
padding-top: 0.3em;
text-align: center;
color: #FFFFFF;
font-weight: bold;
background: #008ACA;
}
.head_para{
 font-size:19px;
 color:#99a2a7;
 text-align:center;
 font-weight:normal;
 }
 #txtFirstName{
 	width: 110%;
 }
 #txtLastName{
 	width: 110%;
 }
 .form-group{
 	padding-top: 1em;
 	width: 70%;
 }

.table{
	border: 2px;
}
.glyphicon-arrow-right{
	color: #008ACA;
}
/*phần css chung*/
.title-dtdd1{
	font-weight: bold;
	margin-top: 1em;
	background: #F6F6F6;
	height: 1.5em;
	border: 1px solid #d9d9d9;
	border-radius: 0.3em;
}
/*end phần css chung*/
.title-dtdd1 a:hover, .title-dtdd2 a:hover{
	text-decoration: none;
}
@media screen and (max-width: 992px) {
	#dobday{
	width: 150%;
}
#dobmonth{
	width: 150%;
}
#dobyear{
	width: 150%;
}

}
@media screen and (max-width: 750px) {
.form-group{
 	padding-top: 1em;
 	width: 100%;
 }
#dobday{
	width: 115%;
}
#dobmonth{
	width: 115%;
}
#dobyear{
	width: 115%;
}
#sex{
    width: 65%;
}
.birthday{
	margin-top: 1em;
}
.email{
	margin-top: 1em;
}
.sex{
   margin-top: 1em;
}
.email{
	margin-top: 1em;
}
.phone{
	margin-top: 1em;
}
.city{
	margin-top: 1em;
}
.adress{
	margin-top: 1em;
}
.dangky{
	margin-top: 1em;
}

}

