
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    var formUrl = {
        urlDanhsachslidetrangchutable: '@Url.Action("DanhSachSlideTrangChuTable", "QuanLySlideTrangChu")',
        urlDelete: '@Url.Action("Delete","QuanLyGiaoDich")'
    }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Areas/Admin/Scripts/QuanLySlideTrangChu/QuanLySlideTrangChu.js"></script>
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Đi đến Trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="index.html" title="Quản lý slide trang chủ" class="tip-bottom">Quản lý slide trang chủ</a></div>
        <h1>Quản lý slide trang chủ</h1>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <!--End-Chart-box-->
        <hr />
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Danh sách slide</h5>
                <button type="button" class="btn btn-success" style="float:right;margin:4px 5px;" onclick="Them()">Thêm mới</button>
            </div>

            <div id="table">

            </div>
        </div>



    </div>
</div>

<script>
    function Them() {

        $.ajax({
            type: 'get',
            data: {
                id: 0,
                page: 1
            },
            url: '@Url.Action("Add", "QuanLySlideTrangChu")',
            success: function (data) {
                $("#div_edit").html(data);
            }
        });
    }
</script>

