@using WebDienThoaiDiDong.Models;
@{
    Layout = null;
}

<div class="row">
    @{ int count = 0;}
    @foreach (var item in (List<SAN_PHAM>)ViewBag.lstPhuKien)
    {
        <div class="phukien col-md-3 col-sm-3 col-xs-6">
            <a href="@Url.Action("Index","ChiTietSanPham",new { @tensanpham = item.TenSanPham,@id=item.MaSanPham})">
                <div class="trangcon-phukien-trong">
                    <img class="img-phukien" src="~/Images/ImagesSliderProduct/@item.AnhDaiDien">
                    @if (item.SoLuongTrongKho > 0)
                    {
                        <p class="trangthai">Còn hàng</p>
                    }
                    else
                    {
                        <p class="trangthai" style="color:red;">Hết hàng</p>
                    }
                    <p class="tensanpham">@item.TenSanPham</p>
                    <p class="gia">@String.Format("{0:0,0 vnđ}", item.GiaSanPham)</p>
                </div>
            </a>
        </div>
    }
    @if (ViewBag.countSpconlai != 0)
    {
        <div class="xemthem row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a type="button" class="btn btn-default btn-md" onclick="xemthem(@count)">
                    <span> Xem thêm @ViewBag.countSpconlai phụ kiện </span>
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    }

</div>