
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    var formUrl = {
        urlDanhsachgiaodichtable: '@Url.Action("DanhSachGiaoDichTable", "QuanLyGiaoDich")',
        urlSearch: '@Url.Action("Search", "QuanLyGiaoDich")',
        urlDelete: '@Url.Action("Delete","QuanLyGiaoDich")'

    }
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Areas/Admin/Scripts/QuanLyGiaoDich/Danhsachgiaodich.js"></script>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Đi đến Trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="index.html" title="Chi tiết giao dịch" class="tip-bottom">Giao dịch</a></div>
        <h1>Quản lý đơn đặt hàng</h1>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <!--End-Chart-box-->
        <hr />
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Đơn hàng gần nhất</h5>
            </div>    
            
            <div class="btn-group" style="margin:5px 5px;">
                <button id="btn-ttdh" class="btn btn-info">Trạng thái đơn hàng</button>
                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul id="ttdh" class="dropdown-menu">
                    <li><a href="#">Đã thanh toán</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Chưa thanh toán</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Chờ xử lý</a></li>
                </ul>
            </div>
            <div class="btn-group" style="margin:5px 5px;">
                <button id="btn-tgtdh" class="btn btn-info">Tổng giá trị đơn hàng</button>
                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
                <ul id="tgtdh" class="dropdown-menu">
                    <li><a href="#">Dưới 5 triệu</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Từ 5 - 10 triệu</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Trên 10 triệu</a></li>
                </ul>
            </div>
            <button id="macdinh" class="btn btn-primary">Đặt về mặc định</button>
            <div id="dsgd-table">

            </div>

            
        </div>
    </div>
</div>

