.pagination li #previous{
    background:#337AB7;
     color:#fff;
     cursor:pointer;
}
.pagination li #next{
   background:#337AB7; 
   color:#fff; 
   width:40px;
   cursor:pointer;
}
.pagination{
    margin-top:7px;
    margin-bottom:-15px;
    
}
.tenkhachang{
    font-size:14px;
    font-weight:bold;
    color:red;
    text-align:center;
    padding-top:1em;
}